# Configuration File for dnsforwarder
# This file should be encoded in ANSI
# Comments start with `#'
# Sorry for my poor English

# Relative path:
# Windows：
#  `% %' styled relative path, for example `%SYSTEMROOT%\System32\drivers\etc\hosts'.
#  `%PROGRAMDIRECTORY%' represents the folder where the executable file is.
# Linux：
#  `${HOME}' styled relative path, for example `${HOME}/hosts'.
#  `${PROGRAMDIRECTORY}' represents the configuration folder, generally it is `/root/.dnsforwarder/'
#      but may vary in some other situations.
#      You can execute `dnsforwarder -p' to obtain the correct location.

##################################################
#
# Log File
#
##################################################

# LogOn <BOOLEAN>
# Whether to record logs to file (since 5.0.4)
# `true' or `false'
LogOn false

# LogFileThresholdLength <NUM>
# The threshold length of a single log file (in bytes) (since 5.0.4)
# Once the length of current file exceeds the threshold,
#     logs are continuing to be recored into a new file instead of the current one
LogFileThresholdLength 102400

# LogFileFolder <PATH>
# Where to save log files (since 5.0.4)
# By default, the location is the folder where the executable file is (Windows),
#     or the configuration folder (Linux)
LogFileFolder

##################################################
#
# Local Interface
#
##################################################

# UDPLocal <IP[:PORT]>,<IP[:PORT]>,...
# Bound local UDP interfaces (IP[:PORT]-tuples, comma-separated), 
#     which could contain loopback addresses (127.0.0.1), LAN addresses and internet addresses (since 6.0.0)
# An IPv6 address should be square-bracket-rounded, e.g. [::1]:53 and [fe80::699c:f79a:9bb6:1]:5353
# `[:PORT]' can be ommited, in which case the port number 53 is to be used
#
# Example：
# UDPLocal 127.0.0.1:53,[::1]:53
UDPLocal 127.0.0.1:53

# This version of program cannot bind local TCP interfaces.

##################################################
#
# Response Selection
#
##################################################

#########################
# Server Groups
#########################

# UDPGroup <IP1[:PORT],IP2[:PORT],...> <DOMAIN1,DOMAIN2,...> <on|off>
# Set a group of upstream servers with which UDP protocol is used,
#     and specify domains so that queries to these domains are forwarded to these servers (since 6.0.0)
# The first part `<IP1[:PORT],IP2[:PORT],...>' is comma-separated IP[:PORT]-tuples
#     which specifies the servers in the group.
#     The port number 53 is to be used if `[:PORT]' is ommited
# The second part `<DOMAIN1,DOMAIN2,...>' specifies domains
#     that queries to these domains are forwarded to these servers in the group.
#     Wildcards(`?',`*') are supported
# The third part `<on|off>' sets whether to use parallel query, either `on' or `off'
# When parallel query is on, every query pertaining to this group is forwarded to
#     all the servers in this group. For each query, The fastest non-blocked response would be selected
#     and forwarded back to the client, the rest responses would simply be discarded
# Multiple `UDPGroup' options are allowed
UDPGroup 1.2.4.8:53,114.114.114.114 * on

# TCPGroup <IP1[:PORT],IP2[:PORT],...> <DOMAIN1,DOMAIN2,...> <no|PROXY1[:PORT],PROXY2[:PORT],...>
# Set a group of upstream servers with which TCP protocol is used,
#     and specify domains so that queries to these domains are forwarded to these servers (since 6.0.0)
# The first part `<IP1[:PORT],IP2[:PORT],...>' is comma-separated IP[:PORT]-tuples
#     which specifies the servers in the group.
#     The port number 53 is to be used if `[:PORT]' is ommited
# The second part `<DOMAIN1,DOMAIN2,...>' specifies domains
#     that queries to these domains are forwarded to these servers in the group.
#     Wildcards(`?',`*') are supported
# The third part `<no|PROXY1[:PORT],PROXY2[:PORT],...>' sets whether to use Socks5 proxy to communicate with servers.
#     `no' means do not use any proxy. Otherwise comma-separated PROXY[:PORT]-tuples indicate the proxies to be used,
#     the port number 1080 is to be used if `[:PORT]' is ommited
# Multiple `TCPGroup' options are allowed
#
# Example 1:
#  TCPGroup 1.2.4.8:53,114.114.114.114 *.example.com 192.168.50.5:8080,192.168.50.6:8080
# Queries to `*.example.com' are forwarded to 1.2.4.8:53 or 114.114.114.114 over TCP
#     through Socks5 proxies 192.168.50.5:8080 or 192.168.50.6:8080
# Example 2:
#  TCPGroup 8.8.8.8,114.114.114.114:53 * no
# Queries to `*.example.com' are forwarded to 8.8.8.8 or 114.114.114.114:53 over TCP
#     directly(thought no proxy)
TCPGroup

# Notes:
# 1.For domains that aren't explicitly specified, a random server group will be used.
# 2.For domains specified to more than one server groups, the order of seletion is as follows:
#   (1) The matched item without any wildcards.
#       If there are still more than one, choose the most matchable one
#       (e.g. `ipv6.microsoft.com' is more matchable than `microsoft.com'
#       when matching with `teredo.ipv6.microsoft.com').
#       If there are more than one most matchable items, choose the last one.
#   (2) The matched item with wildcards.
#       If there are more than one, the first is chosen.
#
# Other Examples:
# 1. Forward quieries to domains tailed with microsoft.com or office.com to 1.2.4.8 over UDP,
#    and quieries to any other domain to 8.8.4.4 over TCP:
#  UDPGroup 1.2.4.8 microsoft.com,office.com on
#  TCPGroup 8.8.4.4 * no
# The order of the two lines should be maintained


#########################
# Response Selections
#########################

# BlockIP <IP1>,<IP2>,.....
# Ignore DNS responses from servers with these IPs (since 6.0.0)
# An IPv6 address should NOT be square-bracket-rounded
BlockIP 243.185.187.39,46.82.174.68,37.61.54.158,93.46.8.89,59.24.3.173,203.98.7.65,8.7.198.45,78.16.49.15,159.106.121.75

# IPSubstituting <IP1 IP'1>,<IP2 IP'2>,.....
# Replace an IP with another in every response from servers(only IPv4 supported) (since 5.0.1)
# e.g.
#  IPSubstituting 127.0.0.1 1.2.0.127
# Which is, replacing 127.0.0.1 with 1.2.0.127 in every response from servers
# This option only affects responses from servers, but not responses from hosts and cache
# Adjacent items should be delimited by a comma, or split them to different lines of `IPSubstituting'
IPSubstituting

#########################
# IP List (only IPv4 supported)
#########################
# Checking lists of IP addresses periodically, and picking up the fastest one for each list

# GoodIPList <NAME> <INTERVAL>
# 定义一个 IP 列表，<NAME> 为改列表的名称，<INTERVAL> 为检测列表中 IP 地址有效性的间隔时间（毫秒）
# 例如：
# GoodIPList list1 60000

# GoodIPListAddIP <LIST_NAME> <IP:PORT>
# 向一个 IP 列表中添加 IP 地址
# Port numbers MUST be assigned
# 例如：
# GoodIPListAddIP list1 120.0.0.1:80

#########################
# Hosts
#########################

# Hosts <STRING>
# Hosts 文件的 URL，可以是本地 Hosts 文件 (以 file:// 开头，支持相对路径)，也可以是网络上的 Hosts 文件 (以 http:// 或者 https:// 开头)。 (since 5.0.5)
# 例如 file://C:/Windows/System32/drivers/etc/hosts 或 file:///etc/hosts 或 http://xxx.com/hosts
# 可以指定多个 Hosts，以半角逗号（`,'）分隔，也可以写多条 `Hosts'，路径两头不要加引号
# 在 Hosts 文件中，支持通配符 (`*' 和 `?') (只能在域名中出现通配符)
# Hosts 文件必须是原始格式，不能是压缩文件或者 HTML 文件
# Hosts 文件最好是 ANSI 编码的
# Hosts 中的 IPv6 地址不用加方括号
# 如果保留为空，则不从文件载入 Hosts
Hosts

# HostsUpdateInterval <NUM>
# 重新载入 Hosts 文件的间隔时间，秒 (since 2.2)
# -1 表示不重新载入
# 如果保留为空，则使用默认值 (18000)
HostsUpdateInterval 18000

# HostsDownloadPath <PATH>
# Hosts 文件的下载到本地文件的路径 (不是文件夹路径) (since 2.2)
# 例如 C:\Windows\Temp\hosts 或者 /tmp/hosts
# 支持相对路径 (since 5.0.3)
# 如果文件存在则覆盖
# 如果保留为空，则默认在与程序所在相同的文件夹内（Windows）或程序的配置文件夹内（Linux）
HostsDownloadPath

# HostsScript <PATH>
# 在每次下载完 Hosts 文件后、加载 Hosts 文件之前执行的脚本 (since 2.2)
# 支持相对路径 (since 5.0.3)
# 如果保留为空，则不执行脚本
HostsScript

# HostsRetryInterval <NUM>
# 当网络 Hosts 下载失败后的重试时间，秒 (since 2.2.2)
# 仅对网络 Hosts 有效
# 如果保留为空，则使用默认值 (30)
HostsRetryInterval 30

# AppendHosts <HOSTS>,<HOSTS>,...
# 附加的 hosts，即使 `Hosts' 选项为空也照样载入 (since 2.2.2)
# <HOSTS> 的写法与文件中的一样，同样支持通配符
# IPv6 地址不用加方括号
# 多条 hosts 可以用半角逗号分隔开，也可以写多条 `AppendHosts'
# 比如可以写成:
#  AppendHosts 127.0.0.1 123.com,127.0.0.1 456.com,1.2.3.4 foobar.*
# 也可以分多条写:
#  AppendHosts 127.0.0.1 123.com
#  AppendHosts 127.0.0.1 456.com
#  AppendHosts 1.2.3.4 foobar.*
#
# 也可以定义指向一个 IP 列表的 Hosts 项（仅支持 IPv4 地址），例如：
#  AppendHosts <list1> www.123.com
# 此时 www.123.com 将会指向 list1 中最快的 IP 地址。
#
# 也可以定义 CName 的 Hosts 项，例如：
#  AppendHosts www.google.cn *.google.com
# 这样所有匹配 *.google.com 的域名都将指向 www.google.cn 的 IP 地址 (since 2.3)
#
# 如果使某些域名跳过在 hosts 中的查询，可以
#  AppendHosts @@ *.012345.com
# 这样所有匹配 *.012345.com 的域名都不会在 hosts 中查询
#
# 各种 hosts 的优先级从高到低
# 带 `@@' 的禁止项
# 一般 hosts 项
# CName hosts 项
# 在以上的基础上：
# `AppendHosts' 指定的 hosts 比 `Hosts' 配置选项指定的文件中的 hosts 的优先级高
# 排在越前的 `Hosts' 项优先级越高
# 排在越前的 hosts 条目优先级越高
AppendHosts

# BlockIpv6WhenIpv4Exists <BOOLEAN>
# 如果一个域名在 Hosts 被指定了一个 IPv4 地址（包括文件 Hosts 和 `AppendHosts' 指定的 Hosts），那么拒绝对这个域名的 IPv6 地址查询 (since 5.0.12, renamed after 6.0.0)
BlockIpv6WhenIpv4Exists false

##################################################
#
# 缓存控制
#
##################################################

# UseCache <BOOLEAN>
# 是否使用缓存（默认为文件缓存） (since 2.2)
# 可选值：`false' 或 `true'
UseCache false

# CacheSize <NUM>
# 缓存大小 (字节)
# 缓存大小不能小于 102400 (100KB) (since 2.3)
CacheSize 1048576

# MemoryCache <BOOLEAN>
# 是否使用内存缓存，而不是文件缓存 (since 2.3.2)
# 如果 `UseCache' 为 `false'，此选项无效
# 可选值：`false' 或 `true'
MemoryCache true

# CacheFile <PATH>
# 手工指定缓存文件 (不是文件夹) (since 2.3)
# 支持相对路径 (since 5.0.3)
# 如果保留为空，则默认在与程序所在相同的文件夹内（Windows）或程序的配置文件夹内（Linux）
# 如果 `MemoryCache' 为 `true'，此选项无效
CacheFile

# IgnoreTTL <BOOLEAN>
# 是否忽略 TTL (since 2.2)
# 可选值：`false' 或 `true'
# 为 `true' 时将忽略 TTL，此时所有的缓存条目将不会被移除
# 为 `false' 时不忽略 TTL，缓存条目将会按照 TTL 的时间来移除
# 当 `UseCache' 的值为 `false' 时，此选项无效
IgnoreTTL false

# OverrideTTL <NUM>
# 强制使所有缓存的条目的 TTL 为 <NUM> (since 2.2)
# 若 <NUM> 为 -1，则表示不进行强制
# 当 `UseCache' 的值为 `false' 时，此选项无效
# 此选项等同于 `CacheControl * fixed <NUM>' (since 5.0.18)
OverrideTTL -1

# MultipleTTL <NUM>
# 将所有缓存条目的 TTL 加倍，倍数为 <NUM> (since 2.2)
# 当 `UseCache' 的值为 `false' 时，此选项无效
# 当 `IgnoreTTL' 的值为 `true' 时，此选项无效
# 此选项等同于 `CacheControl * vari <NUM>x+0' (since 5.0.18)
MultipleTTL 1

# CacheControl <DOMAIN> [$[$]]<TYPE> [ARGUMENT]
# 控制域名 <DOMAIN> 的缓存行为 (since 5.0.18)
# 如果缓存未开启，则此选项无效
# <DOMAIN> 是域名；[$[$]] 是传染设定；<TYPE> 是类型；[ARGUMENT] 是参数
# <DOMAIN> 支持通配符，支持尾部匹配
# <TYPE> 有以下可选项（均为小写）：
#  orig    : 使用原先的 TTL，即不改变指定域名记录的 TTL，此类型无需 [ARGUMENT] 参数
#  nocache : 不缓存指定域名记录，此类型无需 [ARGUMENT] 参数
#  fixed   : 将指定域名记录的 TTL 修改为一个预先指定的常数值，这个值通过 [ARGUMENT] 参数指定
#  vari    : 将指定域名记录的 TTL 修改为一个预先规定的变量，这个变量通过 [ARGUMENT] 参数指定，此时 [ARGUMENT] 参数的格式为 `ax+b'，其中 a、b 为非负整数（需用户手工指定），x 为记录原先的 TTL 值（不需要用户指定）。此选项必须为 `ax+b' 的形式，不能是 `ax-b' 或者其它的变体形式
#
# 示例：
# CacheControl baidu.com orig # 不改变以 `baidu.com' 结尾的域名的 TTL
# CacheControl 163.com nocache # 不缓存以 `163.com' 结尾的域名
# CacheControl qq.com fixed 500 # 把所有以 `qq.com' 结尾的域名的 TTL 修改为 500
# CacheControl sina.com.cn vari 2x+200 # 把所有以 `sina.com.cn' 结尾的域名的 TTL 的值修改为 2x+200，其中 x 是域名记录原先的 TTL 值
#
# 传染机制：
# 某些域名有 CName 记录，例如 www.windowsupdate.com：
# ;; QUESTION SECTION:
# ;www.windowsupdate.com.		IN	A
#
# ;; ANSWER SECTION:
# www.windowsupdate.com.	3585	IN	CNAME	windowsupdate.microsoft.nsatc.net.      （记录一）
# windowsupdate.microsoft.nsatc.net. 285 IN CNAME	www.update.microsoft.com.nsatc.net. （记录二）
# www.update.microsoft.com.nsatc.net. 285	IN A	134.170.58.222                      （记录三）
# www.update.microsoft.com.nsatc.net. 285	IN A	65.55.50.157                        （记录四）
#
# 如果仅仅指定了 `www.windowsupdate.com' 的缓存控制，那么 `windowsupdate.microsoft.nsatc.net' 和 `www.update.microsoft.com.nsatc.net' 的记录以什么规则进行处理？是继承 `www.windowsupdate.com' 的缓存设置，还是使用自己专门的设置（如果有的话）？
# 可以指定传染机制来解决这个问题
# 有以下传染机制（以 `www.windowsupdate.com' 为例）：
#  主动传染 : 所有的域名记录不论是否存在单独指定的控制条目，均使用 `www.windowsupdate.com' 的控制条目
#  被动传染 : 如果存在单独指定的控制条目，那么使用单独指定的控制条目，否则使用 `www.windowsupdate.com' 的控制条目
#  不传染   : 如果存在单独指定的控制条目，那么使用单独指定的控制条目，如果没有则不修改记录的 TTL 值
# 只有被查询的域名控制条目才具有传染性质
# 写法：
#  主动传染 （此为默认情况）:
#   CacheControl www.windowsupdate.com fixed 1000
#   CacheControl 163.com orig
#  被动传染（<TYPE> 前加一个 `$'）:
#   CacheControl www.windowsupdate.com $fixed 1500
#   CacheControl sina.com.cn $nocache
#  不传染（<TYPE> 前加两个 `$'）:
#   CacheControl www.windowsupdate.com $$fixed 2000
#   CacheControl windowsupdate.microsoft.nsatc.net $$vari 2x+100
#
# 示例（仍然以 `www.windowsupdate.com' 为例）：
#  CacheControl www.windowsupdate.com fixed 1000
#  CacheControl windowsupdate.microsoft.nsatc.net fixed 500
#  效果是：记录一、二、三和四的 TTL 都会被修改为 1000
#
#  CacheControl www.windowsupdate.com $fixed 1000
#  CacheControl windowsupdate.microsoft.nsatc.net fixed 500
#  效果是：记录一、三和四的 TTL 会被修改为 1000，记录二的 TTL 会被修改为 500
#
#  CacheControl www.windowsupdate.com $$fixed 1000
#  CacheControl windowsupdate.microsoft.nsatc.net fixed 500
#  效果是：记录一的 TTL 会被修改为 1000，记录二的 TTL 会被修改为 500，记录三和四的 TTL 不会被修改

# ReloadCache <BOOLEAN>
# 当程序启动时是否重新载入已有的文件缓存 (since 2.2.3)
# 已有的缓存大小必须和 `CacheSize' 所指定的大小相等
# 可选值：`false' 或 `true'
# 如果 `MemoryCache' 的值为 `true'，此选项无效
ReloadCache false

# OverwriteCache <BOOLEAN>
# 如果已有的文件缓存无法重载，是否直接将其覆盖掉 (since 2.3)
# 可选值：`false' 或 `true'
# 如果 `MemoryCache' 的值为 `true'，此选项无效
# 如果 `ReloadCache' 的值为 `false'，此选项无效
OverwriteCache false

##################################################
#
# 杂项
#
##################################################

# DisabledType <NUM1>,<NUM2>,.....
# 禁止查询的 DNS 类型列表，每个类型（用数字代表）之间用半角逗号 (`,') 分隔 (since 2.2)
# 所有的 DNS 类型：
# A	      1   IPv4 地址
# AAAA       28   IPv6 地址
# APL        42
# CERT       37
# CNAME       5
# DHCID      49
# DLV     32769
# DNAME      39
# DNSKEY     48
# DS	     43
# HIP        55
# IPSECKEY   45
# KEY        25
# KX	     36
# LOC        29
# MX	     15
# NAPTR      35
# NS	      2   Name Server
# NSEC       47
# NSEC3      50
# NSEC3PARAM 51
# PTR        12   Domain pointer
# RRSIG      46
# RP	     17
# SIG        24
# SOA         6   start of authority record
# SPF        99
# SRV        33
# SSHFP      44
# TA	  32768
# TKEY      249
# TSIG      250
# TXT        16
# ANY       255
# AXFR      252
# IXFR      251
# OPT        41
DisabledType

# DisabledDomain <DOMAIN1>,<DOMAIN2>,.....
# 禁止查询的域列表，每个域之间用半角逗号 (`,') 分隔 (since 2.2)
# 支持通配符。 (since 2.2.2)
# 一个项目如果不含通配符，则从域名尾部开始匹配，例如 `123.com' 则会匹配所有以 `123.com' 结尾的域名。
# 如果含通配符则严格按照通配符来匹配。
# 可以有多条DisabledDomain (since 2.2.2)
DisabledDomain

# DisabledList <PATH>
# 从文件载入到禁用列表 (since 5.0.3)
DisabledList

# DomainStatistic <BOOLEAN>
# 是否启用域名统计 (since 2.5 b1)
# 域名信息统计会依照模板文件记录域名的查询情况
# 记录的结果在与程序所在相同的文件夹内（Windows）或程序的配置文件夹内（Linux）的`statistic.html'文件内
# 可选值：`false' 或 `true'
DomainStatistic false

# DomainStatisticTempletFile <PATH>
# 域名统计的模板文件路径 (since 5.0.23)
# 如果保留为空，则默认为与程序所在相同的文件夹内（Windows）或程序的配置文件夹内（Linux）的`StatisticTemplate.html'文件
DomainStatisticTempletFile

# StatisticInsertionPosition <STRING>
# 指定在模板文件中写入的位置 (since 5.0.23)
# 如果保留为空，则默认为`<!-- INSERT HERE -->'
# StatisticInsertionPosition <!-- INSERT HERE -->

# StatisticUpdateInterval <NUM>
# 域名统计刷新时间间隔（秒） (since 2.5 b1)
StatisticUpdateInterval 29
